<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        {% block stylesheets %}
         <link href="{{ asset ('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{{ asset ('css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">


        {% endblock %}
    </head>
    <body>
       
        <body id="page-top">

        <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"  href="{{ path('home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> Rivière d'or </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Mes tables
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
     

      <!-- Nav Item - Utilities Collapse Menu -->
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
    
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           
            <a class="collapse-item" href="{{ path('produit') }}"> Produits</a>
             <a class="collapse-item" href="{{ path('categorie') }}">Categories</a>
            <a class="collapse-item" href="{{ path('recette') }}">Recettes </a>
            <a class="collapse-item" href="{{ path('astuce') }}">Astuces Beauté</a>
            <a class="collapse-item" href="{{ path('promotion') }}">Promotion</a>
           
            <a class="collapse-item" href="{{ path('commande') }}">Commande</a>

          </div>
        </div>
      </li>

     
      <!-- Nav Item - Tables -->
   
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

     

          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              
                 {% if app.user %}
                       
                           Vous êtes Connecter en tant que <b> {{ app.user.username }} </b>
                             
                        </p>
                    {% endif %}
                      
              <!-- Dropdown - User Information -->
              
            </li>  
     

            <!-- Nav Item - User Information -->
           <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item"> <a class="btn btn-gray" href="{{ path('app_logout') }}"> Déconnecter</a></li>

          </ul>

        </nav>
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between ">
             {% block body %}
            
            <div class="col-lg ">

              <!-- Illustrations -->
              <div class="card shadow ">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-dark text-center"> BIENVENUE SUR RIVIERE D'OR!</h5>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;" src="img/undraw_online_organizer_ofxm.svg" alt="">
                  </div>
                  <p>Bienvenue dans votre espace privé. D'ici, vous aurez accès au backend de votre site et pourrez remettre vos informations à jour. Il suffit d'entrer vos identifiant et mot de passe.</p>
                  
                </div>
              </div>

              <!-- Approach -->
          
            </div>
            {% endblock %}
            </div>
         </div>
         
    
         
        {% block javascripts %}
         <script  src="{{ asset ('vendor/jquery/jquery.min.js')}}"></script>
        <script  src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        <script  src="{{ asset ('vendor/jquery-easing/jquery.easing.min.js')}}"></script>
        <script  src="{{ asset ('js/sb-admin-2.min.js')}}"></script>
        <script  src="{{ asset ('vendor/chart.js/Chart.min.js')}}"></script>
       <script  src="{{ asset ('js/demo/chart-area-demo.js')}}"></script>
       <script  src="{{ asset ('js/demo/chart-pie-demo.js')}}"></script>

        <script  src="{{ asset ('js/demo/datatables-demo.js')}}"></script>
       <script  src="{{ asset ('vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
  <script  src="{{ asset ('vendor/datatables/jquery.dataTables.min.js')}}"></script>
  

        {% endblock %}
        
    </body>
</html>
