<form method="post" action="{{ path('recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" class="btn btn-danger btn-circle" name="_method">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
    <button class="btn btn-danger "> <i class="fas fa-trash"></i></button>
</form>
