{% extends 'home/index.html.twig' %}
{% block title %}Edit recette{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit recette</h1>

    {{ include('recette/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('recette_index') }}">Retour </a>

    {{ include('recette/_delete_form.html.twig') }}
</div>
{% endblock %}