
{% extends 'home/index.html.twig' %}

{% block title %}recette{% endblock %}

{% block body %}
<div class="container-fluid">

<h1 class="h3 mb-2 text-gray-800">Détails d'un recette</h1> <br>
           <a href="{{ path('recette_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste recette</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">


      <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recette.titre }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ recette.ingredients }}</td>
            </tr>
            <tr>
                <th>Preparations</th>
                <td>{{ recette.preparations }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ recette.image }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
<div class="col-1">
    <a class="btn btn-primary" href="{{ path('recette_edit', {'id': recette.id}) }}">Modifier</a>
</div><div class="col-1">
    {{ include('recette/_delete_form.html.twig') }}
    </div>
</div>
</div>
{% endblock %}
