{% extends 'home/index.html.twig' %}
{% block title %}Edit astuce{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit astuce</h1>

    {{ include('astuce/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('astuce_index') }}">Retour </a>

    {{ include('astuce/_delete_form.html.twig') }}
</div>
{% endblock %}

