{% extends 'home/index.html.twig' %}

{% block title %}astuce index{% endblock %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Table astuce</h1>
          <p class="mb-4">Pour ajouter un nouveau article cliquer ici 
           <a href="{{ path('astuce_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Ajouter un astuce</span>
                  </a>
 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">liste des astuces</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for astuce in astuces %}
            <tr>
                <td>{{ astuce.id }}</td>
                <td>{{ astuce.titre }}</td>
                <td>{{ astuce.description }}</td>
                <td>{{ astuce.image }}</td>
                <td>
                   <a href="{{ path('astuce_show', {'id': astuce.id}) }}">Afficher ||</a> 
                    <a href="{{ path('astuce_edit', {'id': astuce.id}) }}">Modifier</a>
                    {{ include('astuce/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
              </div>
            </div>
          </div>

        </div>
   
{% endblock %}
            