{% extends 'home/index.html.twig' %}

{% block title %}astuce{% endblock %}

{% block body %}
<div class="container-fluid">

<h1 class="h3 mb-2 text-gray-800">Détails d'un astuce</h1> <br>
           <a href="{{ path('astuce_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste astuce</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ astuce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ astuce.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ astuce.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ astuce.image }}</td>
            </tr>
        </tbody>
    </table>

<div class="row">
<div class="col-1">
    <a class="btn btn-primary" href="{{ path('astuce_edit', {'id': astuce.id}) }}">Modifier</a>
</div><div class="col-1">
    {{ include('astuce/_delete_form.html.twig') }}
    </div>
</div>
</div>
{% endblock %}
