{% extends 'home/index.html.twig' %}
{% block title %}Edit Produit{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit Produit</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('produit_index') }}">Retour </a>

    {{ include('produit/_delete_form.html.twig') }}
</div>
{% endblock %}
