
{% extends 'home/index.html.twig' %}

{% block title %}Produit index{% endblock %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Table Produit</h1>
          <p class="mb-4">Pour ajouter un nouveau article cliquer ici 
           <a href="{{ path('produit_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Ajouter un produit</span>
                  </a>
 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">liste des produits</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
            
                <th>Catégorie</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td class="categorie"> {% for categorie in produit.categorie %} 
                {{ categorie.nom }}{{ loop.last ? '' : ',' }} {% endfor %}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Afficher ||</a> 
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    {{ include('produit/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7"> la table est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

              </div>
            </div>
          </div>

        </div>
   
{% endblock %}
            