{% extends 'home/index.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="container-fluid">

<h1 class="h3 mb-2 text-gray-800">Détails d'un produit</h1> <br>
           <a href="{{ path('produit_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste produit</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
      
            <tr>
                <th>categorie</th>
                <td class="categorie">{% for categorie in produit.categorie %} 
                {{ categorie.nom }}{{ loop.last ? '' : ',' }} {% endfor %}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
<div class="col-1">
    <a class="btn btn-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
</div><div class="col-1">
    {{ include('produit/_delete_form.html.twig') }}
    </div>
</div>
</div>
{% endblock %}
