{% extends 'home/index.html.twig' %}
{% block title %}Edit commande{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit commande</h1>

    {{ include('commande/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('commande_index') }}">Retour </a>

    {{ include('commande/_delete_form.html.twig') }}
</div>
{% endblock %}