{% extends 'home/index.html.twig' %}

{% block title %}commande index{% endblock %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Table commande</h1>
          <p class="mb-4">Pour ajouter un nouveau article cliquer ici 
           <a href="{{ path('commande_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Ajouter un commande</span>
                  </a>
 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">liste des commandes</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
           <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_cmd</th>
                <th>Paiement</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.dateCmd ? commande.dateCmd|date('Y-m-d') : '' }}</td>
                <td>{{ commande.paiement }}</td>
                <td>{{ commande.etat }}</td>
                <td>
                  <a href="{{ path('commande_show', {'id': commande.id}) }}">Afficher ||</a> 
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">Modifier</a>
                    {{ include('commande/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

              </div>
            </div>
          </div>

        </div>
   
{% endblock %}
            