{% extends 'home/index.html.twig' %}

{% block title %}New commande{% endblock %}

{% block body %}
<div class="container-fluid">

 <h1 class="h3 mb-2 text-gray-800">Ajouter un commande</h1> <br>
           <a href="{{ path('commande_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste commande</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">

    {{ include('commande/_form.html.twig') }}
</div></div></div>
{% endblock %}