{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<body class="bg-gradient-success">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
     
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block image2"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"> Inscription !</h1>
                  </div>
    
    {{ form(form) }}
</div></div></div></div></div></div></div></div></div>
</body>
{% endblock %}

