{% extends 'home/index.html.twig' %}
{% block title %}Edit promotion{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit promotion</h1>

    {{ include('promotion/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('promotion_index') }}">Retour </a>

    {{ include('promotion/_delete_form.html.twig') }}
</div>
{% endblock %}