
{% extends 'home/index.html.twig' %}

{% block title %}promotion index{% endblock %}
{% block body %}
<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Table promotion</h1>
          <p class="mb-4">Pour ajouter un nouveau article cliquer ici 
           <a href="{{ path('promotion_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Ajouter une promotion</span>
                  </a>
 <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">liste des promotions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.dateDebut ? promotion.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                        <a href="{{ path('promotion_show', {'id': promotion.id}) }}">Afficher ||</a> 
                    <a href="{{ path('promotion_edit', {'id': promotion.id}) }}">Modifier</a>
                    {{ include('promotion/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

              </div>
            </div>
          </div>

        </div>
   
{% endblock %}
            