
{% extends 'home/index.html.twig' %}

{% block title %}promotion{% endblock %}

{% block body %}
<div class="container-fluid">

<h1 class="h3 mb-2 text-gray-800">Détails d'une promotion</h1> <br>
           <a href="{{ path('promotion_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste promotion</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ promotion.dateDebut ? promotion.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

<div class="row">
<div class="col-1">
    <a class="btn btn-primary" href="{{ path('promotion_edit', {'id': promotion.id}) }}">Modifier</a>
</div><div class="col-1">
    {{ include('promotion/_delete_form.html.twig') }}
    </div>
</div>
</div>
{% endblock %}
