<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

        {% block stylesheets %}
            <link href="{{ asset ('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
            <link href="{{ asset ('css/sb-admin-2.min.css') }}" rel="stylesheet">
                        <link href="{{ asset ('style.css') }}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                 <script  src="{{ asset ('vendor/jquery/jquery.min.js')}}"></script>
  <script  src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script  src="{{ asset ('vendor/jquery-easing/jquery.easing.min.js')}}"></script>
 <script  src="{{ asset ('js/sb-admin-2.min.js')}}"></script>


        {% endblock %}
    </body>
</html>
