{% extends 'home/index.html.twig' %}
{% block title %}Edit categorie{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Edit categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('categorie_index') }}">Retour </a>

    {{ include('categorie/_delete_form.html.twig') }}
</div>
{% endblock %}
