{% extends 'home/index.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
<div class="container-fluid">

<h1 class="h3 mb-2 text-gray-800">Détails d'un categorie</h1> <br>
           <a href="{{ path('categorie_index') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text"> Retour à la liste categorie</span>
                  </a>  <br>
       <div class="card shadow mb-4">
                        <div class="card-body">


   <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

<div class="row">
<div class="col-1">
    <a class="btn btn-primary" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
</div><div class="col-1">
    {{ include('categorie/_delete_form.html.twig') }}
    </div>
</div>
</div>
{% endblock %}
